{% extends 'bootstrap/base.html' %}

{% block styles -%}
{{super()}}
<style>
    a, a:link, a:hover, a:visited {
        color: inherit;
        text-decoration: none;;
    }

    .btn {
        background-color:rgb(221, 221, 221);
    }

    .btn:hover {
        background-color: rgb(175, 175, 175);
    }


</style>
{% block application_styles %}{% endblock %}
{% endblock styles %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('main.index') }}" class="navbar-brand">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('sound_controller.master_control') }}">Master Sound Controller</a></li>
                    <li><a href="{{ url_for('memes.meme') }}">Memes</a></li>
                    <li><a href="{{ url_for('twitch_streams.twitch') }}">Twitch</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block application_content %}{% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    function call_without_reload(elem, url) {
        $(elem).bind('click', function() {
            $.getJSON(url,
                function(data){
                    //do nothing
                });
        return false;
        });
    }
</script>
{% block application_scripts %}{% endblock %}
{% endblock %}